.loader {
	path {
		fill: none;
		stroke: black;
		stroke-width: 4;
		stroke-dasharray: 8000;
		stroke-dashoffset: 8000;
		animation: draw 6s linear infinite;
	}

	@media (prefers-color-scheme: dark) {
		path {
			stroke: white;
		}
	}

	@keyframes draw {
		0% {
			stroke-dashoffset: 8000;
		}
		50% {
			stroke-dashoffset: 0;
		}
		100% {
			stroke-dashoffset: -8000;
		}
	}
}
