section.hero
	.container 
		include ../Header/Header.pug

		.intro 
			.intro__textContent
				h1.title.element-animation Smart Banking for freelancers
				p.text.element-animation Draft is a revolutionary mobile app built to help you manage your business easily and save your money.
				button.button.element-animation Register Now
			.intro__image
				img.img(src="img/phone.png" alt="Mobile bank screenshot")
				.notification