.teammate {
	border-radius: 3.75rem;
	height: 32rem;

	&:focus {
		.teammate__description {
			visibility: visible;
			opacity: 1;
		}
	}

	@media (hover: hover) {
		&:hover {
			.teammate__description {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&_active {
		.teammate__description {
			visibility: visible;
			opacity: 1;
		}

		.teammate__image {
			-webkit-filter: blur(16px);
			filter: blur(16px);
		}
	}

	&__image {
		background-color: var(--neutral-black-op3);
	}

	&__description {
		border-radius: 3.75rem;
		padding: 3.75rem 1.875rem;
		background-color: var(--neutral-black-op3);
		-webkit-backdrop-filter: blur(50px);
		backdrop-filter: blur(50px);

		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s, visibility 0.3s;
	}

	&__name {
		font-size: 1.4rem;
		line-height: 1.28571;

		@media screen and (min-width: 640px) {
			font-size: 1.675rem;
		}

		@media screen and (min-width: 1440px) {
			font-size: 2.2rem;
		}
	}
}
