section.faq
	h2.title
		| Frequently <span>asked questions</span>
	p.text
		| If you are not sure whether Draft is suitable is for you or not, do not worry. We are here to explain everything you might want to know

	include ../Accordion/Accordion.pug