mixin Item({ plan, price, benefits, bestFor, buttonText, index })
	include ../../../Button.pug

	-
		const card = [
			`text-[var(--green)] grid gap-8 border-2 border-[var(--green)] rounded-4xl px-4 py-10`,
			'sm:grid-cols-[40%_1fr] sm:px-6 sm:gap-6',
			'lg:grid-cols-1 lg:grid-rows-[auto_1fr_1fr] lg:gap-8',
			'xl:px-8',
			'2xl:px-10',
			index === 0 ? 'lg:rounded-e-none lg:border-r-0 lg:row-start-2 lg:py-12' : '',
			index === 1 ? 'lg:z-[2] lg:lg:py-24 lg:row-span-3 lg:col-start-2' : '',
			index === 2 ? 'lg:rounded-s-none lg:border-l-0 lg:col-start-3 lg:row-start-2 lg:py-12' : '',
			plan === 'Standart' ? 'bg-[var(--accent)]' : 'bg-white'
		]


	div(class=card)

		div(class= "flex flex-col sm:row-span-2 sm:self-center sm:border-e-2 sm:border-[var(--green)] sm:h-full sm:pe-4 sm:justify-center lg:pe-0 lg:row-span-1 lg:border-e-0")

			h3(class="mb-6 text-center")= plan + ' Plan'

			span(class="text-center font-(family-name:--first-font) leading-none font-semibold text-[clamp(1.875rem,1.4865rem+1.6575vw,2.8125rem)]")= '$ ' + price

			span(class="mb-12 text-center font-(family-name:--first-font) text-[clamp(1rem,0.8446rem+0.663vw,1.375rem)] sm:mb-0 lg:mb-8") per month

		ul(class="pb-8 border-b-2 border-[var(--green)] sm:pb-0 sm:border-b-0 lg:border-b-2")

			each b in benefits

				li(class="ms-6 font-(family-name:--first-font) list-disc text-[clamp(1rem,0.8446rem+0.663vw,1.375rem)]")= b

		div(class="flex flex-col gap-12 lg:justify-between lg:gap-6")

			p
				strong Best for: 
				= bestFor

			+Button({
				text: buttonText,
				outline: true,
				color: plan === 'Standart' ? 'white' : 'accent'
			})