include Button.pug

footer#footer(class="pt-16 pb-10 px-1 sm:px-4 bg-[var(--green)] w-full fixed bottom-0")

	.flex.flex-col.items-center.gap-12

		p(class="mx-auto text-center text-white text-balance max-w-11/12 sm:max-w-4/5 md:max-w-8/12") This landing page is built with JavaScript, Pug, and Tailwind CSS, featuring smooth scrolling via Lenis, sliders powered by Swiper.js, and a streamlined build process with Gulp.js.

		a(
			class="py-[18px] px-10 rounded-[50px] border-2 font-(family-name:--first-font) border-[var(--green)] hover:border-[var(--accent)] focus-visible:border-[var(--accent)] font-medium text-xl/7 duration-150 active:scale-95 active:brightness-80 bg-[var(--accent)] hover:bg-[var(--green)] hover:text-white focus-visible:bg-[var(--green)] focus-visible:text-white"
			href="https://ustymenko.vercel.app"
			target="_blank"
		) Back to portfolio