include Button.pug

footer#footer(class="pt-16 pb-10 px-1 sm:px-4 text-white bg-[var(--green)] w-full fixed bottom-0")

	.flex.flex-col.items-center.gap-12

		p(class="mx-auto text-center text-balance max-w-11/12 sm:max-w-4/5") Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit corrupti aut quam? Ad delectus, iusto inventore odit dolor voluptate necessitatibus.

		+Button({
			type: 'link',
			text: 'Back to portfolio',
			classes: 'text-[var(--green)]',
			isLink: true
		})