mixin Heading({ title, subtitle, bgColor = false })
	include AnimatedTag.pug

	-
		const afterBg = bgColor	? 'after:bg-[var(--light)]' : 'after:bg-white'

		const separatorClass = [
			'grid sm:grid-cols-[auto_1fr] overflow-hidden gap-x-4 lg:gap-x-7 sm:relative',

			'sm:before:content-[""] sm:before:z-[2] sm:before:mx-6 sm:before:w-[2px] sm:before:min-h-[50px] sm:before:h-full sm:before:rotate-[25deg] sm:before:bg-[var(--green)]',

			'sm:after:content-[""] sm:after:z-[1] sm:after:absolute sm:after:left-0 sm:after:top-0 sm:after:bottom-0 sm:after:w-10 sm:after:h-full sm:after:[clip-path:polygon(0_0,100%_0,30%_100%,0_100%)] sm:after:block',

			afterBg
		]


	div(class="flex max-sm:flex-col max-sm:text-center flex-wrap sm:items-center gap-x-4 lg:gap-x-7 gap-y-2 text-[var(--green)]")

		h2= title

		div(class=separatorClass)

			+AnimatedTag('p', {
				class: 'max-w-md self-center leading-tight max-sm:mx-auto',
				data: {
					'data-animated': true,
					'data-effect-slide-right': true,
					'data-delay': 100
				}
			})= subtitle