.separator {
	position: relative;

	&:before {
		content: '';
		z-index: 2;
		display: block;
		margin: 0 24px;
		width: 2px;
		height: 100%;
		transform: rotate(25deg);
		background-color: var(--green);
	}

	@media screen and (min-width: 320px) {
		&:after {
			content: '';
			z-index: 1;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 40px;
			height: 100%;
			clip-path: polygon(0 0, 100% 0, 30% 100%, 0 100%);
		}
	}
}
