.header {
	background-color: rgba(6, 5, 15, 0.9);
	color: var(--simple-white);

	&__logo {
		font-family: 'Schibsted Grotesk', sans-serif;

		&:focus-visible {
			@include text-gradient-animation;
		}

		@media (hover: hover) {
			&:hover {
				@include text-gradient-animation;
			}
		}

		@media (hover: none) {
			&:active {
				background-clip: text;
				-webkit-text-fill-color: transparent;
				background-image: var(--gradient);
			}
		}
	}
}

@import './components/Navigation/Navigation';
