@use 'mixins' as mixins;
@use './components/Navigation/Navigation';

.header {
	background-color: rgba(6, 5, 15, 0.9);

	&__logo {
		&:focus-visible {
			@include mixins.text-gradient-animation;
		}

		@media (hover: hover) {
			&:hover {
				@include mixins.text-gradient-animation;
			}
		}

		@media (hover: none) {
			&:active {
				background-clip: text;
				-webkit-text-fill-color: transparent;
				background-image: var(--gradient);
			}
		}
	}
}
