- var links = ['Team', 'Press', 'Fees', 'Services', 'Projects', 'Affiliate', 'Terms of use', 'Privacy policy', 'Contact us']

footer.footer
	.footer__content.container
		.footer__copyright
			img.footer__logo(src="img/logo.svg" alt="Page logo")
			p.text
				| © 2020 Page example
				br
				a.portfolioLink(href="#") Back to portfolio
		.footer__links
			ul
				each link in links
					li
						a.text(href="#")= link