include components/Head.pug
include components/Header/Header.pug

include components/sections/Hero/Hero.pug
include components/sections/About/About.pug
include components/sections/Team/Team.pug
include components/sections/Events/Events.pug
include components/sections/Application/Application.pug

include components/BottomBlock/BottomBlock.pug
include components/ToTopButton/ToTopButton.pug

- const jsDisabled = false

doctype html
html.scroll-smooth(lang="en")
	+Head({ jsDisabled })

	body.page.flex.flex-col.font-regular
		+Header({ jsDisabled })

		main.page__content.grow
			+Hero({ jsDisabled })
			+About({ jsDisabled })
			+Team({ jsDisabled })
			+Events({ jsDisabled })
			+Application({ jsDisabled })

		include components/Footer/Footer.pug
		#offset.relative.-z-10
		+BottomBlock({ jsDisabled })
		+ToTopButton({ jsDisabled })