article.card 
	.card__textContent 
		h2.title.element-animation One card for all your payments
		p.text.element-animation
			| Get 3% back on everything you buy with the Draft card. Register today and enjoy every aspect of your business.
	.card__image 
		img(src="img/card.png" alt="Credit card")