mixin Actions({ classes })
	include ../../../Button.pug

	-
		const wrapper = [
			'w-10/12 mx-auto flex flex-col justify-between gap-4 sm:w-full sm:flex-row lg:flex-col',
			classes
		]


	div(class=wrapper)

		div(class="flex flex-col gap-4 grow lg:grow-0 lg:items-center")

			+Button({
				text: 'Try Our Demo',
				outline: true,
				attr: {
					'data-animated': !jsDisabled && true,
					'data-effect-slide-up': !jsDisabled && true,
					'data-delay': !jsDisabled && 150
				}
			})

			+Button({
				text: 'Start For Free',
				color: 'accent',
				attr: {
					'data-animated': !jsDisabled && true,
					'data-effect-slide-up': !jsDisabled && true,
					'data-delay': !jsDisabled && 250
				}
			})

		+AnimatedTag('div', {
			class: 'py-4 px-8 bg-[var(--green)] rounded-4xl text-[var(--accent)] text-center lg:py-6 xl:py-8 lg:px-10 xl:px-16 flex gap-1 justify-center items-center flex-col',
			data: {
				'data-animated': true,
				'data-effect-slide-up': true,
				'data-delay': 350
			}
		})

			span(class="leading-none text-[clamp(2.125rem,1.3999rem+3.0939vw,3.875rem)] font-(family-name:--second-font)") 30 000 +

			span(class="text-base sm:text-lg font-(family-name:--first-font)") Happy Users