mixin Card({percent, text, img, reverse = false, classes = ''})

	-
		const card = [
			'flex justify-between gap-4 p-4 overflow-hidden bg-white shadow-xs h-fit sm:gap-6 rounded-4xl lg:h-full',
			reverse ? 'flex-col-reverse' : 'flex-col',
			classes
		].join(' ')

	div(class=card)

		div(class="flex flex-col gap-2 text-[var(--green)]")

			span(class="font-(family-name:var--second-font) leading-none text-[clamp(2rem,0.9969rem+5.0157vw,3rem)] sm:text-6xl lg:text-4xl xl:text-6xl")= percent + "%"

			span(class="font-(family-name:var--first-font) text-[clamp(0.75rem,0.4992rem+1.2539vw,1rem)] sm:text-2xl")= text

		img(class="block w-full grow rounded-2xl lg:aspect-8/9" src=img.src alt=img.alt)