include components/Head.pug

doctype html
html.overflow-x-hidden.scroll-smooth(lang="en")

	+Head()

	body.overflow-x-hidden.scroll-smooth

		include components/sections/Hero/Hero.pug
		include components/sections/Demo.pug
		include components/sections/Blog/Blog.pug
		include components/sections/Faq.pug
		include components/sections/Assistance.pug