mixin About({ jsDisabled })
	include ./components/Tags/Tags.pug

	section#about.mb-24.pt-8

		div(class="grid px-4 mx-auto md:container lg:px-5 gap-y-8 lg:grid-cols-2 lg:gap-y-7 lg:gap-x-20")

			div(class="sm:text-center lg:text-left")

				h2(class="text-white title mb-7 lg:mb-8")
					span.text-white-op5 Showcasing diversity
					br
					| and promoting artists
				p.text.text-white
					| Our community is made up of talented artists from around the world who share a common passion for contemporary art. We seek to showcase the diversity of artistic expressions and provide a platform for emerging artists to promote their work. With a focus on collaboration and innovation, we strive to push the boundaries of creativity and inspire future generations of artists.

			+Tags({ jsDisabled })

			a(class="self-center block w-full text-center active:scale-95 button bg-purple smooth-scroll-link sm:w-fit sm:justify-self-center lg:justify-self-start" href="#application" aria-label="Scroll to join us section")

				span.button__text.inline-block Join&nbsp;us
