.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 2rem;
	padding-top: 2rem;

	.text {
		@media screen and (min-width: 1440px) {
			font-size: 1.125rem;
		}
	}

	&__logo {
		max-width: 3.125rem;

		&:focus-visible {
			outline: solid var(--neutral);
			border-radius: 15px;
		}
	}

	&__navigation {
		display: none;

		@media screen and (min-width: 48rem) {
			display: block;
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			gap: 80px;
		}

		a {
			padding: 4px 12px;
			font-size: 1.25rem;
			color: white;
			background-image: linear-gradient(currentColor, currentColor);
			background-position: 0% 100%;
			background-repeat: no-repeat;
			background-size: 0% 1px;
			transition: background-size 0.3s;

			&:focus-visible {
				background-size: 100% 1px;
			}

			@media (hover: hover) {
				&:hover {
					background-size: 100% 1px;
				}
			}

			@media (hover: none) {
				&:active {
					background-size: 100% 1px;
				}
			}
		}
	}

	.button {
		padding: 16px 48px;
		font-size: 1.25rem;
		color: white;
		background-color: var(--accent);

		&:focus-visible {
			background-color: var(--dark-color);
		}

		@media (hover: hover) {
			&:hover {
				background-color: var(--dark-color);
			}
		}

		@media (hover: none) {
			&:active {
				background-color: var(--dark-color);
			}
		}
	}

	@media screen and (min-width: 768px) {
		margin-bottom: 2.5rem;
		padding-top: 2.5rem;
	}
}
