include ./Event/Event.pug

-
	const events = [
		{
			id: "brush-bash",
			title: "BrushBash",
			date: "June 22",
			description: "Unleash your inner artist at BrushBash in Burgas! Whether you’re a seasoned painter or just starting out, this event is all about self-expression and fun. Join us for an immersive experience where you can paint, socialize, and enjoy live music in a vibrant atmosphere. Don’t miss out — reserve your spot now!",
			place: "Burgas"
		},
		{
			id: "art-morning",
			title: "Art Morning",
			date: "May 21",
			description: "Start your day with a burst of creativity at Art Morning in Paris! Meet fellow art enthusiasts at a charming café, sip on freshly brewed coffee, and engage in deep conversations about the meaning of art. From live sketching to thought-provoking discussions, this event is the perfect blend of inspiration and connection.",
			place: "Paris"
		},
		{
			id: "palette-party",
			title: "Palette Party",
			date: "July 2",
			description: "Are you an art lover? Ready to explore the depths of creativity and philosophy? Then Art Morning is the perfect event for you! Join us at a secret rooftop lounge bar in New York City and mingle with like-minded people who share your passion for art. Enjoy a DJ set, discuss philosophical questions about art and its creator, and discover the beauty of creativity! Sign up on the waiting list now and get ready for an unforgettable experience.",
			place: "New York"
		},
		{
			id: "vibe-vibrant",
			title: "Vibe & Vibrant",
			date: "August 8",
			description: "Get ready for an electrifying fusion of colors and energy at Vibe & Vibrant in Tokyo! Immerse yourself in a night of live painting, neon art, and pulsating beats. This unique event brings together artists, musicians, and dreamers for an unforgettable experience that celebrates creativity in all its forms. Join us and feel the vibe!",
			place: "Tokio"
		}
	]


div(class="mb-9 lg:mb-8 flex flex-col gap-2.5")
	each event in events
		+Event({...event})
