mixin Slider({ team })
	include ../Teammate/Teammate.pug

	- const inSlider = true


	.py-8.overflow-x-scroll.flex.flex-nowrap

		each teammate in team

			div.slide(class='mr-4 shrink-0')

				+Teammate({ ...teammate, inSlider })