mixin Navigation({ jsDisabled })
	-
		const navListBase = "w-full p-4 flex gap-y-6 gap-x-14 md:p-0 md:relative md:left-auto md:top-auto text-right md:text-left flex-col justify-end md:flex-row md:flex-nowrap md:bg-inherit transition-opacity duration-300 md:visible md:opacity-100"
		const navListClasses = jsDisabled 
			? navListBase + " absolute left-0 h-auto flex-wrap text-xl" 
			: navListBase + " fixed left-0 top-16 md:h-auto text-4xl md:text-xl"
		const attr = jsDisabled 
			? { role: "menu" }
			: null

	nav(class=`navigation${!jsDisabled ? " flex items-center" : ""}`)
		if jsDisabled
			details
				summary(class="navigation__burger relative md:hidden w-7 h-7 p-2.5 cursor-pointer" aria-controls="navigation__links-list")
		else 
			button#navigation__burger(class="navigation__burger relative w-7 h-7 p-2.5 md:hidden" aria-expanded="false" aria-controls="navigation__links-list" aria-label="Open/close page navigation")

		ul#navigation__links-list.navigation__links-list(class=navListClasses role="menu" aria-label="Navigation")
			each link in navLinks
				li(role="menuitem")
					a.navigation__link.smooth-scroll-link.lock-padding(href=link.href)= link.name