@use 'mixins' as mixins;

.navigation {
	&__burger {
		@include mixins.focus-visible-animation;
		@include mixins.hover-animation;
		@include mixins.active-animation;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 65%;
			height: 0.1875rem;
			background-color: white;
			border-radius: 0.5rem;
			transition: transform 0.4s, width 0.3s ease-in;
		}

		&::before {
			left: 3%;
			top: 20%;
		}

		&::after {
			right: 3%;
			bottom: 20%;
		}

		&_active {
			&::before,
			&::after {
				width: 94%;
				top: 50%;
			}

			&::before {
				transform: rotate(225deg);
			}

			&::after {
				transform: rotate(315deg);
			}

			@include mixins.focus-visible-animation;
			@include mixins.hover-animation;
			@include mixins.active-animation;
		}
	}

	&__links-list {
		visibility: hidden;
		opacity: 0;
		height: calc(100dvh - 63px);

		@media (max-height: 445px) {
			&.navigation__links-list_active {
				justify-content: start;
				overflow: auto;
			}
		}

		&_active {
			z-index: 2;
			opacity: 1;
		}
	}

	&__link {
		&:focus-visible {
			@include mixins.text-gradient-animation;
		}

		@media (hover: hover) {
			&:hover {
				@include mixins.text-gradient-animation;
			}
		}

		@media (hover: none) {
			&:active {
				background-clip: text;
				-webkit-text-fill-color: transparent;
				background-image: var(--gradient);
			}
		}
	}

	details {
		&[open] {
			.navigation__burger {
				&::before,
				&::after {
					width: 94%;
					top: 50%;
				}

				&::before {
					transform: rotate(225deg);
				}

				&::after {
					transform: rotate(315deg);
				}

				@include mixins.focus-visible-animation;
				@include mixins.hover-animation;
				@include mixins.active-animation;
			}

			& + #navigation__links-list {
				visibility: visible;
				z-index: 2;
				opacity: 1;

				@media (max-height: 445px) {
					justify-content: start;
					overflow: auto;
				}

				@media (min-width: 350px) {
					flex-direction: row;
				}
			}
		}

		@media (min-width: 768px) {
			display: none;
		}
	}
}
