mixin Head({title})
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="author" content="ustymenko.denys@gmail.com")
		meta(name="description" content="Wild Birds")
		title= title

		link(rel="shortcut icon" href="img/feather-.svg" type="image/svg")
		link(rel="stylesheet" href="files/iconsfont.css")
		link(rel="stylesheet" href="css/index.min.css")
		script(src="js/index.min.js", defer)

