include ../Heading/Heading.pug

-
	const content = [
		'lg:flex lg:gap-4 p-4 lg:items-center lg:p-8 relative rounded-s-full border-2 border-[var(--green)] border-e-0',

		'before:content-[""] before:absolute before:block before:top-full before:start-full before:w-screen before:border-t-2 before:border-[var(--green) before:bg-[var(--green)]' ,

		'after:content-[""] after:absolute after:block after:bottom-full after:start-full after:w-screen after:border-t-2 after:border-[var(--green) after:bg-[var(--green)]' 

	].join(' ')

section

	div.container.wrapper.mx-auto

		+Heading({title: 'Demo', subtitle: 'See how it works: your personalized meal planning journey'})

		h3(class="mx-auto text-center max-w-11/12 lg:hidden text-balance") Every meal is a&nbsp;chance to&nbsp;nourish your body, inspire your mind, and feed your soul

		div(class=content)

			div(class="p-4 lg:p-6 rounded-full border-2 border-[var(--green)]")

				div.rounded-full.overflow-hidden

					video(class="" autoplay playsinline muted loop preload="auto")
						source(src="files/video.webm" type="video/webm")
						source(src="files/video.mp4" type="video/mp4")
						| Your browser does not support the video tag.

			h3(class="max-lg:hidden lg:inline-block lg:text-right lg:text-balance") Every meal is a&nbsp;chance to&nbsp;nourish your body, inspire your mind, and feed your soul
