@use 'mixins' as mixins;

@mixin apply-active-styles($color) {
	color: $color;
	border-color: transparent;
	filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
		drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

	&::before {
		color: $color;
	}
	&::after {
		background-color: $color;
	}
}

.to-top {
	&::after,
	&::before {
		content: '';
		position: absolute;
		transition: all 0.4s;
	}

	&::after {
		width: 2px;
		height: 18px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
	}

	&::before {
		border-top: 2px solid;
		border-left: 2px solid;
		width: 14px;
		height: 14px;
		left: 36%;
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
		color: white;
	}

	&:focus-visible {
		@include apply-active-styles(var(--neutral-black));
		@include mixins.gradient-background;
	}

	@media (hover: hover) {
		&:hover {
			@include apply-active-styles(var(--neutral-black));
			@include mixins.gradient-background;
		}
	}

	@media (hover: none) {
		&:active {
			@include apply-active-styles(var(--neutral-black));
			background-image: var(--gradient);
		}
	}

	&:active {
		@include apply-active-styles(var(--neutral-black));
		background-image: var(--gradient);
	}
}
