<div class="sliderItem w-full overflow-hidden shadow">
	<picture>
		<source
			srcset="@@img-webp"
			type="image/webp" />

		<img
			class="sliderItem__image w-full h-full object-cover pointer-events-none"
			src="@@img"
			loading="lazy"
			alt="@@name" />
	</picture>
	<div
		class="sliderItem__description absolute inset-0 w-full h-full overflow-hidden py-10 lg:py-14 px-8 flex flex-col justify-between gap-2.5 pointer-events-none">
		<h3 class="sliderItem__name title">
			@@name,
			<br />
			<span class="title_opacity5">@@position</span>
		</h3>
		<p class="text overflow-hidden">@@about</p>
	</div>
</div>
