div.swiper {
	overflow: visible;
}

.drag-cursor {
	opacity: 1;
	transform: translate(-50%, -75%);

	border-radius: 12.5rem;
	width: 11.25rem;
	height: 11.25rem;

	transition: opacity 0.4s, transform 0.4s, visibility 0.4s;

	@media (hover: none) {
		opacity: 0;
		visibility: hidden;
	}

	&_active {
		transform: scale(0.95) translate(-53%, -80%);
	}

	&_hidden {
		opacity: 0;
		visibility: hidden;
	}

	&__text {
		&::before,
		&::after {
			content: url(../img/icons/angle.svg);
			position: absolute;
		}
		&::before {
			left: calc(-20px - 9px);
			top: 2px;
		}
		&::after {
			right: -29px;
			bottom: 3px;
			transform: rotate(180deg);
		}
	}
}
