footer.footer
	div(class="md:container mx-auto px-4 lg:px-5 flex flex-col lg:flex-row gap-y-7 lg:gap-x-28")
		div(class="footer__links flex justify-between lg:gap-x-28")
			.footer__join
				ul(aria-label="Join us:")
					li(class="mb-2.5")
						a(href="#") Instagram
					li(class="mb-2.5")
						a(href="#") Facebook
					li
						a(href="#") Youtube
			.footer__contact
				ul(aria-label="Contact us:")
					li(class="mb-2.5")
						a(href="mailto:support@minders.com") support@minders.com
					li
						a(href="tel:+12345678910") +123 4567 89 10
		div(class="footer__description pt-7 lg:pt-0")
			p.mb-6
				| The information on this website is provided for general informational purposes only and does not constitute legal or professional advice. The information is accurate to the best of our knowledge for USA law. Use of this website constitutes acceptance of our 
				a(href="#") Terms of Use 
				| and 
				a(href="#") Privacy Policy.
			p
				| All rights reserved. &copy;2021-2023 Minders.
