.event {
	border-radius: 1.25rem;
	color: var(--simple-white);

	details {
		summary {
			list-style: none;

			@media screen and (min-width: 350px) {
				grid-template-columns: 1fr auto;
				grid-template-rows: repeat(2, auto);
			}

			@media screen and (min-width: 768px) {
				grid-template-columns: 45% 1fr auto;
				grid-template-rows: auto;
			}

			&:hover,
			&:focus-visible {
				.event__title,
				.event__button {
					@include text-gradient-animation;
				}
			}

			@media (hover: none) {
				&:active {
					.event__title,
					.event__button {
						background-clip: text;
						-webkit-text-fill-color: transparent;
						background-image: var(--gradient);
					}
				}
			}
		}
	}

	&:has(details[open]) {
		border-color: transparent;
		background: linear-gradient(var(--neutral-black), var(--neutral-black))
				padding-box,
			var(--gradient) border-box;
		background-size: 300% 300%;
		animation: animatedgradient 3s infinite linear;

		details[open] {
			& + .event__content {
				grid-template-rows: 1fr;
			}

			.event__title {
				@include text-gradient-animation;
			}

			.event__button {
				&::after {
					transform: rotateX(180deg);
				}
			}
		}
	}

	@media (hover: hover) {
		&:hover {
			border-color: transparent;
			background: linear-gradient(var(--neutral-black), var(--neutral-black))
					padding-box,
				var(--gradient) border-box;
			background-size: 300% 300%;
			animation: animatedgradient 3s infinite linear;

			.accordion-item__title {
				@include text-gradient-animation;
			}
		}
	}

	@media (hover: none) {
		&:active {
			border-color: transparent;
			background: linear-gradient(var(--neutral-black), var(--neutral-black))
					padding-box,
				var(--gradient) border-box;

			.accordion-item__title {
				@include text-gradient-animation;
			}
		}
	}

	&__title {
		@media screen and (min-width: 350px) {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
	}

	&__group {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 0.5rem;

		@media screen and (min-width: 350px) {
			grid-column: 1 / -1;
			grid-row: 2 / -1;

			flex-direction: row;
			gap: 1.5rem;
		}

		@media screen and (min-width: 768px) {
			grid-column: 2 / 3;
			grid-row: 1 / -1;

			display: grid;
			align-items: center;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__date {
		&::before {
			content: url(../img/icons/calendar.svg);
		}
	}

	&__place {
		&::before {
			content: url(../img/icons/tgm.svg);
		}
	}

	&__date,
	&__place {
		&::before {
			position: absolute;
			left: 0;
			top: 0;
			line-height: 0;
		}
	}

	&__button {
		color: var(--purple);

		@media screen and (min-width: 350px) {
			grid-column: 2 / -1;
			grid-row: 1 / 2;
		}

		@media screen and (min-width: 768px) {
			grid-column: 3/-1;
			grid-row: 1/-1;
		}

		&::after {
			content: url(../img/icons/angle_purple.svg);
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			display: flex;
			align-items: center;
			transition: transform 0.3s;
		}

		&:focus-visible {
			outline: auto;
			outline-offset: 10px;
			outline-color: var(--purple);
			border-radius: 6px;
			@include text-gradient-animation;
		}

		@media (hover: hover) {
			&:hover {
				@include text-gradient-animation;
			}
		}

		@media (hover: none) {
			&:active {
				background-clip: text;
				-webkit-text-fill-color: transparent;
				background-image: var(--gradient);
			}
		}
	}

	&__content {
		grid-template-rows: 0fr;
	}

	&__link {
		color: var(--purple);

		&::before {
			content: url(../img/icons/corner-down-right_purple.svg);
			position: absolute;
			left: 0;
			top: 0;
		}

		&:focus-visible {
			@include text-gradient-animation;
			&::before {
				content: url(../img/icons/corner-down-right_color.svg);
			}
		}

		@media (hover: hover) {
			&:hover {
				@include text-gradient-animation;

				&::before {
					content: url(../img/icons/corner-down-right_color.svg);
				}
			}
		}

		@media (hover: none) {
			&:active {
				background-clip: text;
				-webkit-text-fill-color: transparent;
				background-image: var(--gradient);

				&::before {
					content: url(../img/icons/corner-down-right_color.svg);
				}
			}
		}
	}
}
