include components/Card.pug
include components/Actions.pug
include components/Image.pug
include ../../AnimatedTag.pug

-
	const blocks = [
		{
			type: 'card',
			percent: 95,
			text: 'Improved Nutrition',
			img: { src: 'img/bag-green-hero', alt: 'A hand holding a green bag of vegetables' },
			classes: 'pt-5 sm:pt-6 lg:pt-4 lg:row-span-2',
			attr: {
				'data-animated': !jsDisabled && true,
				'data-effect-slide-up': !jsDisabled && true,
				'data-delay': !jsDisabled && 50
			}
		},
		{
			type: 'image',
			img: { src: 'img/ramen-hero', alt: 'Ramen' },
			classes: 'row-span-2 mt-auto lg:row-start-2 lg:col-start-2 lg:self-end',
			attr: {
				'data-animated': !jsDisabled && true,
				'data-effect-slide-up': !jsDisabled && true,
				'data-delay': !jsDisabled && 350
			}
		},
		{
			type: 'span',
			text: 'Effortless Planning, Healthier\u00A0Eating',
			classes: 'row-start-1 col-span-2 lg:col-span-3 lg:col-start-2 text-center text-2xl md:text-3xl font-(family-name:--first-font) lg:mb-8 2xl:mb-10 text-[var(--green)]'
		},
		{
			type: 'actions',
			classes: 'row-start-2 col-span-2 lg:col-span-1 lg:row-span-2 lg:col-start-3'
		},
		{
			type: 'card',
			percent: 25,
			text: 'Saved on Groceries',
			img: { src: 'img/bag-white-hero', alt: 'White shopper with products' },
			reverse: true,
			classes: 'order-1 pb-5 sm:pb-6 lg:pb-4 lg:row-start-2 lg:row-span-2 lg:col-start-4 lg:self-end',
			attr: {
				'data-animated': !jsDisabled && true,
				'data-effect-slide-up': !jsDisabled && true,
				'data-delay': !jsDisabled && 150
			}
		},
		{
			type: 'image',
			img: { src: 'img/roots-hero', alt: 'The hand that holds the plant with the roots' },
			classes: 'row-span-2 mb-auto lg:order-2 lg:row-start-1 lg:col-start-5',
			attr: {
				'data-animated': !jsDisabled && true,
				'data-effect-slide-up': !jsDisabled && true,
				'data-delay': !jsDisabled && 250
			}
		}
	]


section(class="overflow-x-clip mb-16 xl:mb-28 pt-20 sm:pt-10 pb-16 sm:pb-28 custom-bg custom-bg_right custom-bg_bottom bg-[var(--light)]")

	div(class="container mx-auto wrapper")

		header

			include ../../Navigation/Navigation.desktop.pug

		div.relative.flex.flex-col.gap-11(data-parallax)

			+AnimatedTag('h1', {
				class: 'text-center max-sm:max-w-11/12 max-sm:mx-auto',
				data: {
					'data-animated': true,
					'data-effect-vanish-in': true
				}
			})

				| Elevate Your Mealtime with
				br
				| AI&#8209;Powered Personalization

			div(class="z-[2] grid grid-cols-2 lg:grid-cols-(--hero-grid-cols-lg) grid-rows-(--hero-grid-rows) lg:grid-rows-(--hero-grid-rows-lg) gap-x-4 sm:gap-x-8 gap-y-8 sm:gap-y-16 lg:gap-4 xl:gap-8")

				each block in blocks
					case block.type

						when 'card'
							+Card({	...block })

						when 'image'
							+Image({ ...block })

						when 'span'
							+AnimatedTag('span', {
								class: block.classes,
								data: {
									'data-animated': true,
									'data-effect-vanish-in': true,
									'data-delay': 200
								}
							})= block.text

						when 'actions'
							+Actions({ ...block })

			include components/Decor.pug