mixin Item({ title, text, color, classes })
	-
		const padding =
			color
				? 'pt-6 pb-8 justify-center rounded-4xl sm:rounded-full sm:py-28 sm:max-xl:items-center sm:max-xl:text-center'
				: 'py-4 xl:justify-between'

		const itemClasses = [
			'flex flex-col gap-5 px-4 leading-tight 2xl:px-12 xl:py-14 lg:gap-10',
			`bg-[var(--${color})]`,
			color ? 'shadow-xs xl:px-10 xl:max-2xl:text-center' : 'xl:px-6',
			padding,
			classes
		]

		const titleClass = color === 'green' ? 'text-[var(--accent)]' : 'text-[var(--green)]'

		const textClass = [
			color && 'md:max-xl:max-w-4/5 md:max-xl:mx-auto',
			color === 'green' ? 'text-white' : 'text-[var(--green)]'
		]


	div(class=itemClasses)
		h3(class=titleClass)= title
		p(class=textClass)= text