@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-extrabold.woff2") format("woff2"), url("../fonts/Gilroy-extrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/Helvetica-Bold-Font.woff2") format("woff2"), url("../fonts/Helvetica-Bold-Font.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Jura;
	font-display: swap;
	src: url("../fonts/Jura-Bold.woff2") format("woff2"), url("../fonts/Jura-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
