@use 'reset';
@use 'fonts';

html {
	scroll-behavior: smooth;
	font-size: 16px;

	@media screen and (min-width: 1920px) {
		font-size: 20px;
	}
}

:root {
	--primary: #554dde;
	--accent: #f44e77;
	--neutral: #f2f6ff;
	--light-color: #6a6d9e;
	--dark-color: #16194f;
}

@keyframes bounce {
	50% {
		transform: translateY(3%);
	}
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.title {
	font-weight: 700;
	font-style: normal;
}

.text {
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.button {
	padding: 15px 20px;
	border-radius: 20px;

	transition: all 0.3s;
}

.page {
	font-family: Roboto, sans-serif;
	background-color: var(--neutral);

	&__content {
		padding-top: 5rem;
		background-color: var(--neutral);

		article,
		section {
			margin-bottom: 5rem;

			@media screen and (min-width: 1024px) {
				margin-bottom: 9.375rem;
			}
		}

		@media screen and (min-width: 1024px) {
			padding-top: 9.375rem;
		}
	}
}

.container {
	max-width: 96%;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
		max-width: 80%;
	}

	@media screen and (min-width: 1440px) {
		max-width: 66%;
	}
}

.offset {
	z-index: -10;
	position: relative;
}

/* toTop Button */

.toTop {
	box-sizing: content-box;
	width: 20px;
	height: 20px;
	position: fixed;
	bottom: 17px;
	right: 17px;
	z-index: 2;
	background-color: var(--primary);
	border-radius: 50%;
	border: 2px solid;
	padding: 15px;
	transition: all 0.4s;
	color: white;

	&_hidden {
		display: none;
	}

	&::after {
		content: '';
		position: absolute;
		width: 2px;
		height: 18px;
		left: calc(50% - 1px);
		top: calc(50% - 9px);
		background-color: white;
	}

	&::before {
		content: '';
		position: absolute;
		width: 14px;
		height: 14px;
		left: calc(36%);
		top: calc(50% - 9px);
		border-top: 2px solid;
		border-left: 2px solid;
		transform: rotate(45deg);
		color: white;
	}
}

.toTop:focus-visible {
	background-color: var(--accent);
}

@media (hover: hover) {
	.toTop:hover {
		background-color: var(--accent);
	}
}

@media (hover: none) {
	.toTop:active {
		background-color: var(--accent);
	}
}

.portfolioLink {
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	transition: background-size 0.3s;
	color: var(--primary);
}

.portfolioLink:focus-visible {
	background-size: 100% 1px;
}

@media (hover: hover) {
	.portfolioLink:hover {
		background-size: 100% 1px;
	}
}

@media (hover: none) {
	.portfolioLink:active {
		background-size: 100% 1px;
	}
}
