mixin Events({ jsDisabled })
	section#events.mb-24.pt-8(class=`${jsDisabled ? "-mt-16 pt-16 lg:-mt-24 lg:pt-24" : ""}`)
		div(class="md:container mx-auto px-4 lg:px-5")
			h2(class="title mb-9 lg:mb-10 sm:text-center lg:text-left")
				span.title_opacity Keep up to date
				br
				| with our latest events

			include ./components/List/List.pug

			a(href="#" class="button button_purple block w-full text-center sm:sm:w-fit sm:mx-auto lg:m-0")
				span.button__text.inline-block
					| View&nbsp;calendar