@use 'mixins' as mixin;

.form {
	&__label {
		left: 1.25rem;
		top: calc(50% - 0.75rem);

		&_not-empty {
			font-size: 0.875rem;
			line-height: 1.5;

			transform: translateY(-50%);
		}
	}

	&__input-wrapper {
		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&::after {
			content: 'The input field must be filled out.';
			position: absolute;
			left: 0;
			top: calc(100%);
			width: 100%;
			padding-inline: 1.25rem;
			color: var(--neutral-black-op4);
			font-weight: 400;
			font-size: 0.875rem;
			line-height: 1.5;
			display: block;
			visibility: hidden;
			pointer-events: none;
			opacity: 0;

			transition: opacity 0.3s;
		}

		&-tel {
			&:after {
				content: 'The input field must be filled out. Format: 0123456789';
			}
		}

		&-mail {
			&:after {
				content: 'The input field must be filled out. Must contain the @ symbol';
			}
		}

		&_hint.form__input-wrapper {
			margin-block-end: 1.875rem;

			&::after {
				visibility: visible;
				opacity: 1;
			}
		}

		&_hint.form__input-wrapper.form__input-wrapper-tel,
		&_hint.form__input-wrapper.form__input-wrapper-mail {
			margin-block-end: 2.8125rem;

			@media screen and (min-width: 450px) {
				margin-block-end: 1.875rem;
			}

			@media screen and (min-width: 1024px) and (max-width: 1279px) {
				margin-block-end: 2.8125rem;
			}
		}

		&_invalid.form__input-wrapper {
			&::after {
				color: rgba(255, 0, 77, 0.4);
			}

			.form__label {
				color: rgba(255, 0, 77, 0.4);
			}
		}
	}

	&__input {
		border: 1px solid var(--neutral-black-op3);
		color: var(--neutral-black);
		font-weight: 500;
		transition: outline-color 0.3s;

		&_invalid {
			border-color: rgba(255, 0, 77, 0.3);
			color: rgb(255, 0, 77);
		}

		&:-webkit-autofill {
			background-color: red !important;
		}

		&:disabled {
			border-color: rgba(6, 5, 15, 0.1);
			color: var(--neutral-black-op3);
		}

		&:focus {
			outline: 0.0625rem solid;
			outline-color: var(--neutral-black-op4);

			& ~ .form__label {
				font-size: 0.875rem;
				line-height: 1.5;

				transform: translateY(-50%);
			}
		}
	}

	&__terms-link {
		@include mixin.underline-animation;
	}
}
