-
	const blockClass = [
		'bottomBlock w-full text-xl text-neutral-black font-medium',
		!jsDisabled && 'fixed z-0 bottom-0'
	]

	const linkClass = [
		'shadow relative border-2 border-neutral-black duration-300 inline-block py-4 pr-8 pl-[calc(2rem+32px)] text-black rounded-5p',
		'hover:bg-neutral-black hover:text-purple',
		'focus-visible:bg-neutral-black focus-visible:text-purple',
		'active:bg-neutral-black active:text-purple active:scale-95 active:brightness-80',
	]


#bottomBlock(class=blockClass)

	div(class="px-4 py-12 mx-auto text-center md:container lg:px-5")

		p(class="mx-auto mb-4 font-normal text-balance lg:max-w-3xl xl:max-w-5xl")
			| Optimized for fast loading and smooth rendering, the page remains usable even when JavaScript is disabled — ensuring an efficient and inclusive user experience. Built with Pug, SCSS, Tailwind CSS, and enhanced by JavaScript, the page is compiled using Gulp for a streamlined development workflow.
		a(class=linkClass href="https://ustymenko.vercel.app")
			| Back to portfolio