mixin BottomBlock({jsDisabled})
	-
		const baseClasses = "w-full text-xl font-medium"
		const additionalClasses = jsDisabled ? "" : " fixed z-0 bottom-0"
		const blockClasses = baseClasses + additionalClasses

	#bottomBlock.bottomBlock(class=blockClasses)
		div(class="md:container mx-auto py-12 px-4 lg:px-5 text-center")
			p.mx-auto.mb-4
				| This landing page was developed using JavaScript, Pug(Jade), SCSS, TailwindCSS, Lenis, Gulp.js, and the BEM methodology to ensure a clean, maintainable, and efficient code structure.
			a(class="text-black" href="https://ustymenko.vercel.app")
				| Back to portfolio