@use 'mixins' as mixins;

.bottomBlock {
	@include mixins.gradient-background;

	a {
		&::before {
			position: absolute;
			content: url(../img/icons/corner-down-right.svg);
			left: 2rem;
			top: 50%;
			transform: translateY(-50%);
			line-height: 0;
		}

		&:focus-visible {
			&::before {
				content: url(../img/icons/corner-down-right_purple.svg);
			}
		}

		@media (hover: hover) {
			&:hover {
				&::before {
					content: url(../img/icons/corner-down-right_purple.svg);
				}
			}
		}

		@media (hover: none) {
			&:active {
				&::before {
					content: url(../img/icons/corner-down-right_purple.svg);
				}
			}
		}
	}
}
