mixin BottomBlock({jsDisabled})
	-
		const baseClasses = "w-full text-xl font-medium"
		const additionalClasses = jsDisabled ? "" : " fixed z-0 bottom-0"
		const blockClasses = baseClasses + additionalClasses

	#bottomBlock.bottomBlock(class=blockClasses)
		div(class="px-4 py-12 mx-auto text-center md:container lg:px-5")
			p.mx-auto.mb-4.font-normal
				| Optimized for fast loading and smooth rendering, the page consistently scores 95+ on PageSpeed Insights and functions correctly even with JavaScript disabled — ensuring an efficient and inclusive user experience.
			a(class="text-black" href="https://ustymenko.vercel.app")
				| Back to portfolio