mixin Card({img, title})

	include ../../../Button.pug

	div(class="flex flex-col items-start gap-4 p-4 pb-6 overflow-hidden bg-white shadow-xs md:gap-8 md:p-8 md:pb-14 rounded-4xl")

		img(src=img.src alt=img.alt class="w-full rounded-2xl aspect-square")

		h3.leading-tight= title

		+Button({
			text: 'Read Article',
			color: 'accent',
			icon: true
		})