-
	const sectionClass = [
		'application mb-24 bg-purple lg:bg-transparent',
		jsDisabled ? 'lg:-mt-24 lg:pt-24' : ''
	]


section#application(class=sectionClass)

	div(class="px-4 py-12 mx-auto md:container lg:px-5 lg:py-0")

		div(class="application__wrapper lg:p-20 lg:bg-purple lg:flex lg:items-center lg:gap-x-20")

			.application__content(class="mb-9 lg:mb-0")

				h2.title(class="mb-5 lg:mb-7 text-neutral-black")

					span.text-neutral-black-op4(data-animated data-effect-vanishIn) Join our community
					span.block(data-animated data-effect-slideUp data-delay="600") of talented artists

				p.text(class="lg:max-w-xl text-neutral-black" data-animated data-effect-slideRight data-delay="200")
					| Are you an artist looking to showcase your work and connect with other creatives? Fill out our application form and join our community of talented artists. We can"t wait to see what you have to offer.

			include ./components/Form/Form.pug
